/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture {
    display: block;
    max-width: 100%;
}
/* CSS Reset ends */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100px);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}

/* UTILITY CLASSES */
/* pseudoclasses for defining global scope CSS variables */
:root {
    --animationFadeIn: fadeIn 0.5s ease-in forwards;
    --animationFadeOut: fadeOut 0.5s ease-out forwards;
    --animationFadeInOut: fadeInOut 2s ease-in-out forwards;
    --animationFadeInOut4s: fadeInOut 4s ease-in-out forwards;
    --transitionOpacity: opacity 0.5s ease-in-out;
}

.fadeIn {
    animation: var(--animationFadeIn);
}

.fadeOut {
    animation: var(--animationFadeOut);
}

.fadeInOut {
    animation: var(--animationFadeInOut);
}

.hidden {
    display: none;
}

html,
body {
    height: 100%;
}

img {
    height: auto;
    margin: auto;
}

.areaClickable {
    border: 3px solid green;
}

body {
    line-height: 1.35;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #4d4d4d;
    background-image: linear-gradient(
        rgb(129, 84, 1),
        rgba(165, 42, 42, 0.171)
    );
    animation: var(--animationFadeIn);
}

main {
    margin: 0 auto;
    position: relative;
    transition: opacity 0.5s ease-in-out;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 1em;
    font-size: 1rem;
    color: #fff;
    z-index: 1;
}

dialog {
    font-size: 150%;
    border-radius: 1em;
    display: none;
    position: relative;
    z-index: 2;
}

.catNotFoundDialog {
    border-radius: 0.5em;
    z-index: 3;
    background-color: rgb(245, 179, 179);
    scale: 80%;
    pointer-events: none;
    padding: 0;
}

.finalDialog {
    position: absolute;
    top: 35%;
    left: 21%;
}

dialog.success {
    background: radial-gradient(
        circle,
        hsl(0, 25%, 50%),
        hsl(30, 25%, 50%),
        hsl(120, 25%, 50%),
        hsl(210, 25%, 50%),
        hsl(270, 25%, 50%),
        hsl(330, 25%, 50%)
    );
}

dialog.failure {
    /* background: radial-gradient(
        circle,
        hsl(0, 0%, 31%),
        hsl(0, 0%, 73%),
        hsl(0, 0%, 23%),
        hsl(0, 0%, 51%),
        hsl(0, 0%, 9%),
        hsl(0, 0%, 0%)
    ); */

    background: lightyellow;
}

main .backgroundImage {
    position: absolute;
    z-index: -1;
    inset: 0;
}

section {
    flex-grow: 1;
}

.messageOverlay {
    background-color: #ddd;
}

.thanksText {
    font-size: 80%;
}

.areaClickable {
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.goToLocationButton {
    animation: var(--animationFadeIn);
    background-color: #3498db;
    border-radius: 0.35rem;
    opacity: 0;
    position: absolute;
    padding: 0.55rem;
    top: 50%;
    z-index: 4;
}

.row {
    display: flex;
    justify-content: center;
}

.emojiModal {
    animation: var(--animationFadeInOut);
    display: block;
    opacity: 0;
    position: absolute;
    width: auto;
    z-index: 7;
}

.stats--display {
    position: absolute;
    padding: 0.15rem 0.65rem;
    border-radius: 0.5rem;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    font-size: 1.15rem;
}

.catGif {
    z-index: -1;
    object-fit: contain;
    opacity: 0;
}

.catGif.active {
    opacity: 1;
}

#goToBedroomButton {
    left: 2rem;
}

#goToKitchenButton {
    right: 2rem;
}

#splashPage {
    animation: var(--animationFadeIn);
    background-image: url(./img/splashPage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin: auto;
    max-width: 1000px;
    position: relative;
    padding: 0% 5%;
    width: 100%;
}

#splashTitle {
    border-radius: 1em;
    color: white;
    display: block;
    font-size: 150%;
    margin-left: 1em;
    opacity: 85%;
    padding: 1em;
    scale: 1.2;
    transform: skew(-3deg, -3deg);
    background: radial-gradient(
        circle,
        hsl(0, 25%, 50%),
        hsl(30, 25%, 50%),
        hsl(120, 25%, 50%),
        hsl(210, 25%, 50%),
        hsl(270, 25%, 50%),
        hsl(330, 25%, 50%)
    );
}

#instructions {
    align-items: center;
    animation: var(--animationFadeIn);
    display: none;
    opacity: 75%;
    scale: 0.9;
    background: radial-gradient(ellipse at top, #e66465, transparent),
        radial-gradient(ellipse at bottom, #4d9f0c, transparent);
}

#instructions h1 {
    margin-bottom: 0.5em;
}

#instructions p {
    margin-bottom: 0.25em;
}

#letsGoButton {
    align-self: flex-end;
    animation: var(--animationFadeIn);
    background-color: rgba(230, 78, 40, 0.411);
    border-radius: 1em;
    color: white;
    display: block;
    font-size: 200%;
    font-weight: bold;
    max-width: 350px;
    opacity: 90%;
    padding: 1.35em;
    transform: skew(-3deg, -3deg);
}

#letsGoButtonContainer {
    margin-left: auto;
}

#startGameButton {
    animation: var(--animationFadeIn);
    border-radius: 0.35em;
    color: black;
    font-size: 150%;
    padding: 0.45em;
}

#startGameContainer {
    animation: var(--animationFadeIn);
    opacity: 85%;
}

#playArea {
    display: none;
    flex-direction: column;
    height: 100vh;
    max-width: 100vh;
    margin: 0 auto;
    position: relative;
}

#timer {
    top: 1rem;
    right: 2.5rem;
}

#foundCounter {
    top: 1rem;
    right: 12rem;
}

.row__upper {
    align-items: start;
}

/* DEFAULT (DESKTOP) ELEMENT SIZES */
/* KITCHEN STYLES */
/* KITCHEN ROW UPPER */
.kitchen .row__upper {
    column-gap: 0.8rem;
    padding-top: 6.5rem;
    padding-left: 4.4rem;
    padding-right: 4rem;
}

.kitchen .row__upper .areaClickable {
    height: 17rem;
}

#area_kitchen_1 {
    width: 12.35rem;
}

#area_kitchen_2 {
    width: 7rem;
}

#area_kitchen_3 {
    width: 9rem;
}

#area_kitchen_1,
#area_kitchen_2,
#area_kitchen_3 {
    height: 18rem;
    margin-bottom: 2.2em;
}

#area_kitchen_4,
#area_kitchen_5 {
    height: 19.8rem;
    width: 11rem;
}

/* KITCHEN ROW MIDDLE */
.kitchen .row__middle {
    align-items: end;
    column-gap: 13rem;
    overflow: hidden;
    padding-left: 5rem;
    padding-right: 4rem;
    padding-top: 3rem;
}

#area_kitchen_6 {
    height: 4.5rem;
    width: 10rem;
}

#area_kitchen_7 {
    height: 6.5rem;
    padding-top: 1rem;
    width: 7rem;
}

/* KITCHEN ROW BOTTOM */
.kitchen .row__bottom {
    flex-grow: 1;
    flex-direction: row;
    padding-top: 1.5rem;
    padding-left: 3.5rem;
    padding-right: 4rem;
}

.kitchen .bottom-second-left-top {
    flex-direction: column;
    width: 21rem;
}

.kitchen .bottom-second-left-bottom {
    display: flex;
    flex-direction: row;
}

.kitchen .cupboards.bottom-right {
    width: 19rem;
}

#area_kitchen_8 {
    height: 20rem;
    width: 14rem;
}

#area_kitchen_9 {
    height: 3.5rem;
    width: 100%;
}

#area_kitchen_10 {
    width: 10rem;
}

#area_kitchen_11 {
    width: 16rem;
}

#area_kitchen_10,
#area_kitchen_11 {
    height: 14rem;
}

#area_kitchen_12 {
    width: 12rem;
    height: 6rem;
}
#area_kitchen_13 {
    width: 12rem;
    height: 12rem;
}
#area_kitchen_14 {
    height: 3rem;
}
#area_kitchen_15 {
    height: 3.5rem;
}
#area_kitchen_16 {
    height: 2.8rem;
}
#area_kitchen_17 {
    height: 2.3rem;
}
#area_kitchen_18 {
    height: 7rem;
}

/* BEDROOM STYLES */
/* BEDROOM ROW UPPER */
.bedroom .row__upper {
    align-items: end;
    column-gap: 0.8rem;
    display: flex;
    flex: 1;
    height: 17em;
    justify-content: left;
    padding-left: 10%;
}

/* BEDROOM ROW UPPER */
.bedroom .shelves-stacked {
    width: 9rem;
}

#area_bedroom_1 {
    width: 13rem;
    height: 13rem;
}

#area_bedroom_2,
#area_bedroom_3 {
    height: 5.4rem;
}

#area_bedroom_4 {
    height: 4.5rem;
}

#area_bedroom_5 {
    height: 3.5rem;
}

#area_bedroom_4,
#area_bedroom_5 {
    width: 5rem;
}

#area_bedroom_6 {
    margin-left: auto;
    height: 12rem;
    margin-top: 2rem;
    width: 11rem;
}

/* BEDROOM ROW MIDDLE */
.bedroom .row__middle {
    column-gap: 1.2rem;
    flex: 1;
    height: 20.3rem;
    display: flex;
    justify-content: left;
    padding-left: 10%;
    overflow: visible;
}

#area_bedroom_7 {
    width: 13rem;
    height: 100%;
}

#area_bedroom_8 {
    width: 8rem;
    height: 33rem;
}

#area_bedroom_9 {
    width: 4.25rem;
    height: 6rem;
    margin-top: 2.25rem;
}

#area_bedroom_10 {
    width: 4.25rem;
    height: 120%;
}

/* BEDROOM ROW BOTTOM */
.bedroom .row__bottom {
    column-gap: 0.6rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 10%;
}

#area_bedroom_12 {
    width: 4.1rem;
    height: 2.6rem;
}

#area_bedroom_13 {
    height: 3rem;
}

#area_bedroom_14 {
    height: 3.25rem;
}

#area_bedroom_15 {
    height: 3.75rem;
}

#area_bedroom_13,
#area_bedroom_14,
#area_bedroom_15 {
    width: 14rem;
}

#area_bedroom_16 {
    margin-left: 6.75rem;
    width: 4.6rem;
    height: 7.75rem;
}

.drawers {
    width: 14rem;
    margin-left: 8rem;
}

#area_bedroom_20,
#area_bedroom_21,
#area_bedroom_22 {
    height: 4.6rem;
}

#area_bedroom_23 {
    margin-top: 6rem;
    width: 13rem;
    height: 18rem;
}

/* MEDIA QUERIES BEGIN */
@media screen and (max-width: 1440px) {
    dialog {
        font-size: 180%;
    }

    /* KITCHEN */
    /* KITCHEN ROW UPPER */
    .kitchen .row__upper {
        column-gap: 1.7rem;
        padding-top: 5.5rem;
    }

    /* KITCHEN ROW MIDDLE */
    .kitchen .row__middle {
        column-gap: 13.5rem;
        padding-top: 3.2rem;
    }

    #area_kitchen_8 {
        height: 20.5rem;
        width: 14.5rem;
    }

    #area_kitchen_9 {
        width: auto;
        height: 3rem;
    }

    #area_kitchen_10 {
        width: 11rem;
    }

    #area_kitchen_10,
    #area_kitchen_11 {
        height: 15rem;
    }

    /* KITCHEN ROW BOTTOM */
    .kitchen .row__bottom {
        padding-top: 2.2rem;
    }

    #area_kitchen_12 {
        height: 6.2rem;
    }

    #area_kitchen_13 {
        height: 12.5em;
    }

    #area_kitchen_12,
    #area_kitchen_13 {
        width: 12.2rem;
    }

    #area_kitchen_14 {
        height: 2.7rem;
    }

    #area_kitchen_15 {
        height: 3.5rem;
    }

    #area_kitchen_16 {
        height: 2.5rem;
    }

    #area_kitchen_17 {
        height: 2.7rem;
    }

    #area_kitchen_18 {
        height: 6.5rem;
    }

    .kitchen .cupboards.bottom-right {
        width: 11.8rem;
    }

    .kitchen .bottom-second-left-top {
        flex-direction: column;
        width: 20.5rem;
    }

    .kitchen .bottom-second-left-bottom {
        display: flex;
        flex-direction: row;
    }

    .kitchen .cupboards.bottom-right {
        width: 19rem;
    }

    /* BEDROOM */
    /* BEDROOM ROW UPPER */
    .bedroom .row__upper {
        height: 18rem;
        margin-top: 3rem;
        padding-top: 1.9rem;
    }

    .bedroom .shelves-stacked {
        width: 7rem;
    }

    #area_bedroom_1 {
        width: 14.5rem;
    }

    #area_bedroom_2,
    #area_bedroom_3 {
        height: 5.4rem;
        width: 6.5rem;
    }

    #area_bedroom_4 {
        height: 5rem;
        margin-top: 1rem;
    }

    #area_bedroom_5 {
        height: 3.5rem;
    }

    #area_bedroom_4,
    #area_bedroom_5 {
        width: 5.5rem;
    }

    #area_bedroom_6 {
        align-self: flex-start;
        height: 11rem;
        margin-left: auto;
        width: 10.5rem;
    }

    /* BEDROOM ROW MIDDLE */
    .bedroom .row__middle {
        column-gap: 1rem;
        flex: 1;
        height: 18.8rem;
        justify-content: left;
        overflow: visible;
    }

    #area_bedroom_7 {
        height: 100%;
        width: 14.5rem;
    }

    #area_bedroom_8 {
        height: 30rem;
        width: 6.5rem;
    }

    #area_bedroom_9 {
        height: 3.5rem;
        margin-top: 2.25rem;
        width: 100%;
    }

    #area_bedroom_10 {
        height: 130%;
        width: 100%;
    }

    .bedroom .closet.second-middle {
        width: 5.3rem;
    }

    /* BEDROOM ROW BOTTOM */
    .bedroom .row__bottom {
        column-gap: 0.6rem;
        display: flex;
        flex: 1;
        justify-content: space-between;
        padding-left: 10%;
    }

    .drawers {
        margin-left: 16rem;
        margin-top: 0.5rem;
    }

    #area_bedroom_13,
    #area_bedroom_14,
    #area_bedroom_15 {
        width: 14rem;
        height: 3.5rem;
    }

    .bedroom .drawers {
        width: 16rem;
    }

    #area_bedroom_20,
    #area_bedroom_21,
    #area_bedroom_22 {
        height: 8rem;
        height: 4.25rem;
        width: 75%;
    }
}

@media screen and (max-width: 1024px) {
    dialog {
        font-size: 175%;
    }

    #splashTitle {
        position: relative;
        margin-top: 5rem;
    }

    #letsGoButton {
        scale: 1.25;
        /* margin-right: 3rem; */
        margin-bottom: 2rem;
    }

    #instructions {
        margin-bottom: 10rem;
        position: relative;
    }

    .finalDialog {
        margin-right: 8rem;
    }

    /* KITCHEN */
    /* KITCHEN ROW UPPER */
    .kitchen .row__upper {
        column-gap: 1rem;
        padding-top: 3.4rem;
        padding-left: 4.4rem;
        padding-right: 4rem;
    }

    #area_kitchen_1,
    #area_kitchen_2,
    #area_kitchen_3 {
        height: 19rem;
    }

    #area_kitchen_4,
    #area_kitchen_5 {
        height: 21rem;
    }

    /* KITCHEN ROW MIDDLE */
    .kitchen .row__middle {
        column-gap: 10.8rem;
        padding-top: 1.9rem;
    }

    #area_kitchen_6 {
        width: 12rem;
    }

    #area_kitchen_7 {
        width: 7rem;
    }

    /* KITCHEN ROW BOTTOM */
    .kitchen .row__bottom {
        padding-top: 0;
    }

    .kitchen .bottom-second-left-top {
        flex-direction: column;
        width: 20rem;
    }

    .cupboards .bottom-second-right {
        width: 17.3rem;
    }

    #area_kitchen_8 {
        height: 20.5rem;
        width: 13rem;
    }

    #area_kitchen_9 {
        height: 4.2rem;
        width: 20rem;
    }

    #area_kitchen_10,
    #area_kitchen_11 {
        height: 14rem;
    }

    #area_kitchen_12 {
        height: 7rem;
    }

    #area_kitchen_13 {
        height: 11.25rem;
        width: 100%;
    }

    #area_kitchen_14 {
        height: 3.9rem;
        width: 100%;
    }

    #area_kitchen_16 {
        width: 100%;
        height: 2.65rem;
    }

    #area_kitchen_17 {
        height: 2.45rem;
        width: 100%;
    }

    #area_kitchen_18 {
        height: 6.5rem;
        width: 100%;
    }

    /* BEDROOM */
    /* BEDROOM ROW UPPER */
    .bedroom .row__upper {
        margin-top: 6rem;
        height: 15rem;
    }

    #area_bedroom_1 {
        width: 13.5rem;
    }

    #area_bedroom_2 {
        margin-bottom: 0;
    }

    .cupboards .shelves-stacked {
        width: 6.5rem;
    }

    #area_bedroom_4,
    #area_bedroom_5 {
        width: 5.5rem;
    }

    #area_bedroom_6 {
        align-self: flex-start;
        height: 8rem;
        margin-top: 0rem;
    }

    /* BEDROOM ROW MIDDLE */
    .bedroom .row__middle {
        height: 17.75rem;
    }

    #area_bedroom_7,
    #area_bedroom_13,
    #area_bedroom_14,
    #area_bedroom_15 {
        width: 13.5rem;
    }

    #area_bedroom_13,
    #area_bedroom_14,
    #area_bedroom_15 {
        height: 3rem;
    }

    .cupboards.shelves-stacked,
    .closet.second-left {
        max-width: 6rem;
    }

    /* BEDROOM ROW BOTTOM */
    .drawers {
        margin-left: 15rem;
        margin-top: 0;
    }

    #area_bedroom_23 {
        width: 13rem;
    }
}

@media screen and (max-width: 768px) {
    dialog {
        font-size: 175%;
    }

    #splashTitle {
        margin-top: 10rem;
    }

    #letsGoButton {
        margin-bottom: 7rem;
        /* margin-right: rem; */
    }

    #instructions {
        position: relative;
        top: 0;
    }

    .finalDialog {
        margin-right: 8rem;
        /* scale: 0.8; */
    }

    /* KITCHEN */
    /* KITCHEN ROW UPPER */
    .kitchen .row__upper {
        /* margin: 0;
        padding-top: 0;
        height: 115rem; */
        /* height: 115rem; */
        /* column-gap: 0; */
    }

    #area_kitchen_1,
    #area_kitchen_2,
    #area_kitchen_3 {
        height: 14rem;
    }

    #area_kitchen_4,
    #area_kitchen_5 {
        height: 16rem;
    }

    /* KITCHEN ROW MIDDLE */
    .kitchen .row__middle {
        column-gap: 8.2rem;
        padding-top: 0.2rem;
    }

    #area_kitchen_6 {
        width: 8rem;
    }

    #area_kitchen_7 {
        width: 5.8rem;
    }

    /* KITCHEN ROW BOTTOM */
    .kitchen .row__bottom {
        padding-right: 3rem;
    }

    #area_kitchen_8 {
        height: 15rem;
        width: 9rem;
    }

    .kitchen .bottom-second-left-top {
        width: 15.5rem;
    }

    #area_kitchen_9 {
        height: 3rem;
        width: 100%;
    }

    #area_kitchen_10,
    #area_kitchen_11 {
        height: 10.5rem;
    }

    #area_kitchen_12 {
        height: 5rem;
    }

    #area_kitchen_13 {
        height: 8.5rem;
    }

    #area_kitchen_12,
    #area_kitchen_13 {
        width: 8rem;
    }

    #area_kitchen_14 {
        height: 2.5rem;
        width: 9rem;
    }

    #area_kitchen_15 {
        height: 2.4rem;
    }

    #area_kitchen_16 {
        height: 1.9rem;
    }

    #area_kitchen_17 {
        height: 1.9rem;
    }

    #area_kitchen_18 {
        height: 4.75rem;
    }

    /* BEDROOM */
    /* BEDROOM ROW UPPER */
    .bedroom .row__upper {
        margin: 0;
        height: 14.5rem;
        column-gap: 0;
    }

    #area_bedroom_1 {
        height: 10rem;
        width: 10.5rem;
    }

    #area_bedroom_2,
    #area_bedroom_3 {
        height: 4.5rem;
        width: 5.5rem;
    }

    #area_bedroom_4 {
        height: 4rem;
    }

    #area_bedroom_5 {
        height: 2.5rem;
    }

    #area_bedroom_4,
    #area_bedroom_5 {
        width: 3.5rem;
    }

    #area_bedroom_6 {
        align-self: start;
        height: 10rem;
        width: 7.7rem;
        margin-top: 2rem;
    }

    /* BEDROOM ROW MIDDLE */
    .bedroom .row__middle {
        column-gap: 0;
        height: 12.6rem;
    }

    #area_bedroom_7 {
        height: 100%;
    }

    #area_bedroom_8 {
        height: 22rem;
        width: 6rem;
    }

    .bedroom .closet.closet.second-middle {
        width: 3.6rem;
    }

    #area_bedroom_9 {
        height: 4rem;
        margin-top: 0;
    }

    /* BEDROOM ROW BOTTOM */
    .bedroom .row__bottom {
        column-gap: 0;
    }

    #area_bedroom_7,
    #area_bedroom_13,
    #area_bedroom_14,
    #area_bedroom_15 {
        width: 10.5rem;
    }

    #area_bedroom_12 {
        height: 2.35rem;
    }

    #area_bedroom_13,
    #area_bedroom_14,
    #area_bedroom_15 {
        height: 2.5rem;
    }

    #area_bedroom_20,
    #area_bedroom_21,
    #area_bedroom_22 {
        height: 3rem;
        margin-right: 0;
        margin-left: 5rem;
        width: 9.5rem;
    }

    #area_bedroom_23 {
        height: 11rem;
        width: 10rem;
    }

    .drawers {
        margin-left: 5rem;
    }
}

@media screen and (max-width: 500px) {
    #splashTitle {
        margin-top: 15rem;
        margin-left: -2rem;
        scale: 75%;
    }

    #letsGoButton {
        margin-bottom: 17rem;
        position: relative;
        scale: 75%;
    }

    #instructions {
        scale: 0.7;
        /* margin-top: 15rem; */
        position: absolute;
    }

    .goToLocationButton {
        top: 75%;
    }

    .finalDialog {
        top: 28%;
        /* height: 12rem; */
        /* margin-left: 0;
        margin-right: 0; */
        align-items: center;
    }

    /* KITCHEN */
    /* KITCHEN ROW UPPER */
    .kitchen .row__upper {
        column-gap: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        height: 10rem;
    }

    #area_kitchen_1,
    #area_kitchen_2,
    #area_kitchen_3 {
        height: 9rem;
    }

    #area_kitchen_4,
    #area_kitchen_5 {
        height: 10rem;
    }

    /* KITCHEN ROW MIDDLE */
    .kitchen .row__middle {
        column-gap: 5rem;
        height: 6rem;
    }

    #area_kitchen_6 {
        height: 2.5rem;
        width: 5rem;
    }

    #area_kitchen_7 {
        height: 3.5rem;
        width: 4.5rem;
    }

    /* KITCHEN ROW BOTTOM */
    .kitchen .row__bottom {
        padding-left: 1.75rem;
        padding-right: 0.5rem;
    }

    .kitchen .bottom-second-left-top {
        width: 19rem;
    }

    #area_kitchen_8 {
        height: 10rem;
        width: 7rem;
    }

    #area_kitchen_9 {
        height: 2.5rem;
        width: 100%;
    }

    #area_kitchen_10 {
        width: 40%;
    }

    #area_kitchen_11 {
        width: 60%;
    }

    #area_kitchen_10,
    #area_kitchen_11 {
        height: 7rem;
    }

    #area_kitchen_12 {
        height: 4rem;
    }

    #area_kitchen_13 {
        height: 5.5rem;
    }

    #area_kitchen_12,
    #area_kitchen_13 {
        width: 5.5rem;
    }

    #area_kitchen_14 {
        height: 1.8rem;
    }

    #area_kitchen_15 {
        height: 1.7rem;
    }

    #area_kitchen_16 {
        height: 1.4rem;
    }

    #area_kitchen_17 {
        height: 1.3rem;
    }

    #area_kitchen_18 {
        height: 2.8rem;
    }

    #area_kitchen_14,
    #area_kitchen_15,
    #area_kitchen_16,
    #area_kitchen_17,
    #area_kitchen_18 {
        width: 100%;
    }

    .kitchen .cupboards.bottom-right {
        width: 14rem;
    }

    /* BEDROOM */
    /* BEDROOM ROW UPPER */
    .bedroom .row__upper {
        column-gap: 0;
        margin: 0;
        padding-top: 0;
        height: 9.5rem;
    }

    #area_bedroom_1 {
        height: 7rem;
        width: 6.5rem;
    }

    #area_bedroom_2 {
        height: 3.5rem;
        width: 4.5rem;
    }

    #area_bedroom_2,
    #area_bedroom_3 {
        height: 3.25rem;
        width: 4rem;
    }

    #area_bedroom_5 {
        height: 2rem;
    }

    #area_bedroom_6 {
        height: 8rem;
        /* margin-bottom: 32rem; */
        margin-top: 0;
    }

    .cupboards.shelves-stacked {
        max-width: 4rem;
    }

    /* BEDROOM ROW MIDDLE */
    .bedroom .row__middle {
        height: 7.8rem;
    }

    #area_bedroom_7 {
        height: 8rem;
        width: 6.5rem;
    }

    #area_bedroom_8 {
        height: 14rem;
        width: 4rem;
    }

    #area_bedroom_9 {
        height: 2.5rem;
        width: 100%;
    }

    #area_bedroom_10 {
        height: 10rem;
    }

    /* BEDROOM ROW BOTTOM */
    .bedroom .row__bottom {
        column-gap: 0;
    }

    #area_bedroom_12 {
        height: 1.75rem;
        width: 3rem;
    }

    #area_bedroom_13,
    #area_bedroom_14,
    #area_bedroom_15 {
        height: 1.65rem;
        width: 6.5rem;
    }

    #area_bedroom_20,
    #area_bedroom_21,
    #area_bedroom_22 {
        margin-left: 7.5rem;
        height: 2.25rem;
        width: 7.5rem;
    }

    #area_bedroom_23 {
        height: 7rem;
        margin-top: 4rem;
    }

    .drawers {
        margin-left: 0;
    }
}

@media screen and (max-width: 425px) {
    #splashTitle {
        margin-top: 15rem;
        margin-left: -2rem;
        scale: 0.7;
    }

    #letsGoButton {
        margin-bottom: 17rem;
        scale: 0.8;
    }

    #instructions {
        scale: 0.65;
        /* top: 6rem; */
        position: absolute;
    }

    .goToLocationButton {
        top: 73%;
    }

    .finalDialog {
        margin: 0;
        scale: 0.6;
        left: 0;
        align-items: center;
    }

    /* KITCHEN */
    /* KITCHEN ROW UPPER */
    .kitchen .row__upper {
        column-gap: 0.5rem;
        height: 11.5rem;
        margin-bottom: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
        padding-bottom: 0;
    }

    #area_kitchen_1,
    #area_kitchen_2,
    #area_kitchen_3 {
        height: 8rem;
        margin-bottom: 0;
    }

    #area_kitchen_4,
    #area_kitchen_5 {
        height: 8.5rem;
        margin-bottom: 0;
    }

    /* KITCHEN ROW MIDDLE */
    .kitchen .row__middle {
        column-gap: 3rem;
        height: 4rem;
        margin-top: 0;
        padding: 0;
    }

    #area_kitchen_6 {
        height: 2.5rem;
        width: 5rem;
    }

    #area_kitchen_7 {
        height: 3.5rem;
        width: 4.5rem;
    }

    /* KITCHEN BOTTOM */
    .kitchen .row__bottom {
        padding-left: 1.75rem;
        padding-right: 0.5rem;
    }

    .kitchen .bottom-second-left-top {
        width: 23rem;
    }

    #area_kitchen_8 {
        height: 10rem;
        width: 5.5rem;
    }

    .kitchen .bottom-second-left-top {
        width: 23rem;
    }

    #area_kitchen_9 {
        height: 2.5rem;
        width: 100%;
    }

    #area_kitchen_10 {
        width: 40%;
    }

    #area_kitchen_11 {
        width: 60%;
    }

    #area_kitchen_10,
    #area_kitchen_11 {
        height: 7rem;
    }

    #area_kitchen_12 {
        height: 3rem;
    }

    #area_kitchen_13 {
        height: 6rem;
    }

    #area_kitchen_12,
    #area_kitchen_13 {
        width: 5.5rem;
    }

    #area_kitchen_14 {
        height: 1.6rem;
    }

    #area_kitchen_15 {
        height: 1.35rem;
    }

    #area_kitchen_16 {
        height: 1rem;
    }

    #area_kitchen_17 {
        height: 1.2rem;
    }

    #area_kitchen_18 {
        height: 3.5rem;
    }

    #area_kitchen_14,
    #area_kitchen_15,
    #area_kitchen_16,
    #area_kitchen_17,
    #area_kitchen_18 {
        width: 100%;
    }

    /* BEDROOM */
    /* BEDROOM ROW UPPER */
    .bedroom .row__upper {
        column-gap: 0;
        height: 9.5rem;
        margin: 0;
    }

    #area_bedroom_1 {
        height: 5.5rem;
        width: 6rem;
    }

    #area_bedroom_2 {
        height: 3.5rem;
    }

    #area_bedroom_2,
    #area_bedroom_3 {
        height: 2.25rem;
        width: 3rem;
    }

    #area_bedroom_4 {
        height: 2.4rem;
    }

    #area_bedroom_5 {
        height: 1.4rem;
    }

    #area_bedroom_6 {
        margin-top: 2rem;
        height: 7rem;
        width: 5rem;
    }

    .cupboards.shelves-stacked {
        max-width: 3rem;
    }

    /* BEDROOM ROW MIDDLE */
    .bedroom .row__middle {
        height: 7rem;
    }

    #area_bedroom_7 {
        height: 7.2rem;
        width: 6rem;
    }

    #area_bedroom_8 {
        height: 12rem;
        width: 3rem;
    }

    .bedroom .closet.closet.second-middle {
        width: 2.5rem;
    }

    #area_bedroom_9 {
        height: 3rem;
    }

    #area_bedroom_10 {
        height: 9rem;
    }

    /* BEDROOM ROW BOTTOM */
    .bedroom .row__bottom {
        column-gap: 0;
    }

    #area_bedroom_12 {
        height: 1.55rem;
        width: 2.2rem;
    }

    #area_bedroom_13,
    #area_bedroom_14,
    #area_bedroom_15 {
        height: 1.3rem;
        width: 6.2rem;
    }

    #area_bedroom_15 {
        height: 1rem;
    }

    #area_bedroom_16 {
        height: 1.1rem;
    }

    .kitchen .cupboards.bottom-right {
        width: 17rem;
    }

    #area_bedroom_20,
    #area_bedroom_21,
    #area_bedroom_22 {
        height: 1.8rem;
        margin-left: 6rem;
        width: 5.5rem;
    }

    #area_bedroom_23 {
        height: 7rem;
    }
}

@media screen and (max-width: 375px) {
    #splashTitle {
        margin-top: 12.5rem;
        margin-left: -2rem;
        scale: 0.55;
    }

    #letsGoButton {
        margin-bottom: 17rem;
        scale: 0.65;
    }

    #instructions {
        font-size: 160%;
        position: absolute;
        scale: 0.65;
        top: 3.5rem;
    }

    .goToLocationButton {
        top: 70%;
    }

    .finalDialog {
        left: 0;
        align-items: center;
    }

    /* KITCHEN */
    /* KITCHEN ROW UPPER */
    .kitchen .row__upper {
        column-gap: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 10rem;
        padding-top: 0;
        align-items: center;
        /* padding-bottom: 0; */
    }

    #area_kitchen_1,
    #area_kitchen_2,
    #area_kitchen_3 {
        height: 6rem;
        margin-bottom: 0;
    }

    #area_kitchen_4,
    #area_kitchen_5 {
        height: 7.75rem;
    }

    #area_kitchen_6 {
        height: 2rem;
        width: 5rem;
    }

    /* KITCHEN ROW MIDDLE */
    .kitchen .row__middle {
        column-gap: 3rem;
        height: 3rem;
    }

    #area_kitchen_7 {
        height: 3.5rem;
        width: 4.5rem;
    }

    /* KITCHEN ROW BOTTOM */
    .kitchen .row__bottom {
        padding-left: 1.75rem;
        padding-right: 0.5rem;
    }

    .kitchen .bottom-second-left-top {
        width: 20rem;
    }

    #area_kitchen_8 {
        height: 7.5rem;
        width: 4.5rem;
    }

    #area_kitchen_9 {
        height: 1.7rem;
        width: 100%;
    }

    #area_kitchen_10 {
        width: 40%;
    }

    #area_kitchen_11 {
        width: 60%;
    }

    #area_kitchen_10,
    #area_kitchen_11 {
        height: 5rem;
    }

    #area_kitchen_12 {
        height: 2.5rem;
    }

    #area_kitchen_13 {
        height: 4rem;
    }

    #area_kitchen_12,
    #area_kitchen_13 {
        width: 4rem;
    }

    #area_kitchen_14 {
        height: 1.3rem;
    }

    #area_kitchen_15 {
        height: 0.9rem;
    }

    #area_kitchen_16 {
        height: 1.1rem;
    }

    #area_kitchen_17 {
        height: 1.2rem;
    }

    #area_kitchen_18 {
        height: 2.2rem;
    }

    #area_kitchen_14,
    #area_kitchen_15,
    #area_kitchen_16,
    #area_kitchen_17,
    #area_kitchen_18 {
        width: 100%;
    }

    .kitchen .cupboards.bottom-right {
        width: 14rem;
        margin-right: 0.25rem;
    }

    /* BEDROOM */
    /* BEDROOM ROW UPPER */
    .bedroom .row__upper {
        column-gap: 0;
        margin: 0;
        height: 7rem;
        padding-top: 2.2rem;
    }

    #area_bedroom_1 {
        height: 4.75rem;
        width: 5rem;
    }

    #area_bedroom_2,
    #area_bedroom_3 {
        height: 2.25rem;
        width: 3.2rem;
    }

    #area_bedroom_4 {
        height: 2rem;
    }

    #area_bedroom_5 {
        height: 1.5rem;
    }

    #area_bedroom_6 {
        height: 4rem;
        margin-top: 0;
    }

    /* BEDROOM ROW MIDDLE */
    .bedroom .row__middle {
        height: 5.9rem;
    }

    #area_bedroom_7 {
        height: 6rem;
        width: 5rem;
    }

    #area_bedroom_8 {
        height: 11rem;
        width: 3rem;
    }

    #area_bedroom_10 {
        height: 8rem;
    }

    /* BEDROOM ROW BOTTOM */
    .bedroom .row__bottom {
        column-gap: 0;
    }

    .drawers {
        padding-top: 0;
    }

    #area_bedroom_12 {
        height: 1.45rem;
        width: 3rem;
    }

    #area_bedroom_13,
    #area_bedroom_14,
    #area_bedroom_15 {
        height: 1.15rem;
        width: 5.3rem;
    }

    #area_bedroom_20 {
        margin-top: 0;
    }

    #area_bedroom_20,
    #area_bedroom_21,
    #area_bedroom_22 {
        height: 1.6rem;
        margin-left: 5rem;
        width: 6rem;
    }

    #area_bedroom_23 {
        height: 6rem;
        margin-top: 2.5rem;
        width: 7rem;
    }
}

@media screen and (max-width: 320px) {
    #splashTitle {
        margin-top: 20rem;
        margin-left: -4rem;
        scale: 0.45;
    }

    #letsGoButton {
        align-items: end;
        margin-bottom: 20rem;
        margin-left: 2rem;
        scale: 0.55;
    }

    #instructions {
        font-size: 160%;
        position: absolute;
        scale: 0.6;
        margin-left: -3.5rem;
        margin-right: -3.5rem;
        margin-top: 17rem;
        align-items: center;
    }

    .goToLocationButton {
        top: 67%;
    }

    .finalDialog {
        left: 0;
        align-items: center;
    }

    /* KITCHEN */
    /* KITCHEN ROW UPPER */
    .kitchen .row__upper {
        column-gap: 0.5rem;
        padding-top: 2.5rem;
        padding-right: 2rem;
        padding-bottom: 0;
        padding-left: 2rem;
        height: 9rem;
        align-items: start;
    }

    #area_kitchen_1,
    #area_kitchen_2,
    #area_kitchen_3 {
        height: 6rem;
        margin-bottom: 0;
    }

    #area_kitchen_4,
    #area_kitchen_5 {
        height: 6.5rem;
    }

    /* KITCHEN ROW MIDDLE */
    .kitchen .row__middle {
        column-gap: 2rem;
        height: 2.8rem;
    }

    #area_kitchen_6 {
        height: 2.5rem;
        width: 5rem;
    }

    #area_kitchen_7 {
        height: 2.8rem;
        width: 3.75rem;
    }

    /* KITCHEN ROW BOTTOM */
    .kitchen .row__bottom {
        padding-left: 1rem;
        padding-right: 0.5rem;
    }

    .kitchen .bottom-second-left-top {
        width: 20rem;
    }

    #area_kitchen_8 {
        height: 7.5rem;
        width: 4.5rem;
    }

    #area_kitchen_9 {
        height: 1.7rem;
        width: 100%;
    }

    #area_kitchen_10 {
        width: 40%;
    }

    #area_kitchen_11 {
        width: 60%;
    }

    #area_kitchen_10,
    #area_kitchen_11 {
        height: 5rem;
    }

    #area_kitchen_12 {
        height: 2.5rem;
    }

    #area_kitchen_13 {
        height: 4rem;
    }

    #area_kitchen_12,
    #area_kitchen_13 {
        width: 4rem;
    }

    #area_kitchen_14 {
        height: 1.1rem;
    }

    #area_kitchen_15 {
        height: 0.9rem;
    }

    #area_kitchen_16 {
        height: 0.95rem;
    }

    #area_kitchen_17 {
        height: 0.9rem;
    }

    #area_kitchen_18 {
        height: 2.2rem;
    }

    #area_kitchen_14,
    #area_kitchen_15,
    #area_kitchen_16,
    #area_kitchen_17,
    #area_kitchen_18 {
        width: 100%;
    }

    .kitchen .cupboards.bottom-right {
        width: 14rem;
        margin-right: 0.25rem;
    }

    /* BEDROOM */
    /* BEDROOM ROW UPPER */
    .bedroom .row__upper {
        column-gap: 0;
        height: 7rem;
        margin: 0;
        padding-top: 2.5rem;
    }

    #area_bedroom_1 {
        height: 4.45rem;
        width: 4.3rem;
    }

    #area_bedroom_2 {
        height: 3.5rem;
        width: 4.5rem;
        margin-top: 0.25rem;
    }

    #area_bedroom_2,
    #area_bedroom_3 {
        height: 2rem;
        width: 100%;
    }

    .cupboards.shelves-stacked {
        width: 2.4rem;
    }

    #area_bedroom_4 {
        height: 2rem;
    }

    #area_bedroom_5 {
        height: 1.5rem;
    }

    #area_bedroom_4,
    #area_bedroom_5 {
        width: 2.2rem;
    }

    #area_bedroom_6 {
        height: 3rem;
        margin-top: 0;
    }

    /* BEDROOM ROW MIDDLE */
    .bedroom .row__middle {
        height: 4.6rem;
    }

    #area_bedroom_7 {
        height: 4.5rem;
        width: 4.3rem;
    }

    #area_bedroom_8 {
        height: 9rem;
        width: 2.4rem;
    }

    #area_bedroom_9 {
        height: 2rem;
    }

    #area_bedroom_10 {
        height: 7rem;
    }

    /* BEDROOM ROW BOTTOM */
    .bedroom .row__bottom {
        column-gap: 0;
    }

    .drawers {
        padding-top: 0;
        margin-left: 0;
    }

    #area_bedroom_12 {
        height: 1.6rem;
        width: 1.7rem;
    }

    #area_bedroom_13,
    #area_bedroom_14,
    #area_bedroom_15 {
        height: 0.95rem;
        width: 4.5rem;
    }

    #area_bedroom_20 {
        margin-top: 0.5rem;
    }

    #area_bedroom_20,
    #area_bedroom_21,
    #area_bedroom_22 {
        height: 1.55rem;
        margin-left: 4.6rem;
        width: 4.2rem;
    }

    #area_bedroom_23 {
        height: 6rem;
        width: 7rem;
    }
}
